.settings-modal {
    animation: fadeIn 0.3s ease;
    width: 380px;
}

/* Título */
.modal-title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    color: #00eaff;
}

/* Conteúdo */
.settings-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settings-group {
    background: rgba(255, 255, 255, 0.05);
    padding: 12px;
    border-radius: 8px;
}

.settings-group h4 {
    margin-bottom: 8px;
    color: #bdbdbd;
    font-size: 16px;
}

.close-btn {
    margin-top: 20px;
    background: #ff4444 ;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}