.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 20000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  width: 90%;
  max-width: 500px;
  height: 85vh;
  overflow-y: auto;
  padding: 20px;
  border-radius: 12px;
}

.close-modal {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
