.header {
  background-color: #0d2b61;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0px 0;     
}

.header-container {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header img {
  max-height: 43px;
  max-width: 120px;
  border-radius: 5px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icony {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease;
}

.menu-toggle:hover img {
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .search-container {
    width: 65%;
  }
}
