
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "IBM Plex Sans", sans-serif;
  }
  
  .header {
    background-color: #0d2b61;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 4px;
  }
  
  .header-container {
    max-width: 1200px;
    padding: 0.3rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
  }
  
  .logo-header img {
  border-radius: 5px;
  height: 52px;
  }
  
  .nav {
    display: flex;
    gap: 2rem;
    margin-right: -37vw;
  }
  
  .nav a {
    text-decoration: none;
    font-weight: 500;
    color: white;
    transition: color 0.3s ease;
  }
  
  .nav a:hover {
    color: #e0850d;
  }
  
  @media (max-width: 768px) {
    .nav {
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      margin-right: 0;
    }
  }

  .lang-btn {
    background-color: #1452c5;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 12px;
    font-size: 0.7rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .lang-btn:hover {
    background-color: #e0850d;
    border: #3c5578;
  }
  
  