.info {
  position: fixed;
  top: 55px;
  right: 0;
  width: 350px;
  height: 88.3vh;
  background-color: rgba(245, 245, 220, 0.35);
  color: black;
  padding: 20px;
  z-index: 10000;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info.show {
  transform: translateX(0);
  opacity: 1;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #1452c5;
  color: white;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.close-btn:hover {
  background-color: #e0850d;
}

.titlecountry {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 25px;
  color: #0d2b61;
}

.imgcountry {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.quickinformation {
  font-size: 1.1rem;
  margin-bottom: 15px;
  font-weight: 600;
  color: #0d2b61;
}

.btninfo {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #1452c5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btninfo:hover {
  background-color: #e0850d;
  color: beige;
}

@media (max-width: 768px) {
  .info {
    width: 80%;
    right: 10%;
    top: 70px;
    height: auto;
    border-radius: 12px;
  }
}

@media (max-width: 480px) {
  .info {
    width: 90%;
    right: 5%;
    padding: 15px;
  }

  .titlecountry {
    font-size: 1.3rem;
  }
}


.container2 {
  position: absolute;
  top: 83vh;
  display: flex;
  gap: 0.5rem;
  align-self: flex-end;
  justify-self: end;
}