* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info {
  position: absolute;
  top: 50px;
  right: 0;
  height: 87.8vh;
  width: 350px;
  background-color: rgba(245, 245, 220, 0.35);
  color: #000;
  padding: 20px;
  z-index: 10000;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.info.show {
  transform: translateX(0);
  opacity: 1;
}

.titlecountry {
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-align: center;
}

.imgcountry {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
}

.quickinformation {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

.btninfo {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #1452c5;
  color: white !important;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s;
}

.btninfo:hover {
  background-color: #e0850d;
  color: beige !important;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #1452c5;
  color: white;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-btn:hover {
  background-color: #e0850d;
}

@media (max-width: 1024px) {
  .info {
    width: 300px;
    height: 85vh;
  }

  .titlecountry {
    font-size: 1.3rem;
  }

  .btninfo {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .info {
    width: 80%;
    right: 10%;
    top: 70px;
    height: auto;
    border-radius: 12px;
    padding: 18px;
  }

  .titlecountry {
    font-size: 1.2rem;
  }

  .quickinformation {
    font-size: 0.95rem;
  }

  .btninfo {
    padding: 9px;
  }
}

@media (max-width: 480px) {
  .info {
    width: 90%;
    right: 5%;
    top: 70px;
    height: auto;
    padding: 15px;
    border-radius: 10px;
  }

  .titlecountry {
    font-size: 1.1rem;
  }

  .btninfo {
    font-size: 0.85rem;
    padding: 8px;
  }
}
