.menu-info {
  position: fixed;
  top: 50px;
  right: 0;
  width: 350px;
  height: 88.8vh;
  background-color: rgba(245, 245, 220, 0.35);
  color: black;
  padding: 20px;
  z-index: 10000;

  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.menu-info.show {
  transform: translateX(0);
  opacity: 1;
}

.close-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #1452c5;
  color: white;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-menu:hover {
  background-color: #e0850d;
}

.menu-title {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 25px;
}

.menu-section {
  margin-bottom: 25px;
}

.menu-section h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #0d2b61;
}

.menu-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #1452c5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

.menu-btn:hover {
  background-color: #e0850d;
  color: beige;
}

@media (max-width: 768px) {
  .menu-info {
    width: 80%;
    right: 10%;
    top: 70px;
    height: auto;
    border-radius: 12px;
  }
}

@media (max-width: 480px) {
  .menu-info {
    width: 90%;
    right: 5%;
    padding: 15px;
  }

  .menu-title {
    font-size: 1.3rem;
  }
}
